/*
 * Buttons styling
 */

.button{
	display: inline-block;
	line-height: 1;
	min-width: min-content;
	white-space: nowrap;
	transition: all .25s ease-in-out;
	&:focus{
		outline: none;
	}
	&:hover{
		text-decoration: none;
	}
	&_primary{
		&:hover{

		}
		&:active{

		}
	}
	&_secondary{
		&:hover{

		}
		&:active{

		}
	}
	&:disabled,
	&[disabled]{
		color: white !important;
		border-color: #d7d7d7 !important;
		background-color: #d7d7d7 !important;
		box-shadow: none;
	}

}


/*
 * Buttons styling ends
 */

/*
 * Inputs styling
 */

	

/*
 * Inputs styling ends
 */