/*
 * Color variables
 */
	
$background: #F6F9E9;

$light-green: #CEEA75;
$green: #CCDE65;
$dark-green: #B6C754;

$gray: #262626;
$light-gray: #4B4B4B;

$dark-blue: #081434;
$blue: #5561AB;
$light-blue: #626FC0;

/*
 * Shadow variables
 */

$header-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03);

$blue-shadow: 0px 17px 30px -12px rgba(85, 97, 171, 0.39);
$green-shadow: 0px 30px 31px -21px rgba(78, 91, 3, 0.18);
$white-shadow: 0px 30px 31px -21px rgba(69, 69, 69, 0.2);
$light-shadow: 0px 13px 30px -21px rgba(78, 91, 3, 0.11);

$creator-shadow: 0px 32px 80px -12px rgba(0, 0, 0, 0.24);