/*
 * Example section styling
 */

.basket{
	&__body{
		padding: 40px;
		background-color: $background-light;
		border-radius: $b-radius;
	}

}

.order{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: $black;
	margin-bottom: 24px;
	background-color: #fff;
	padding: 16px;
	border-radius: $b-radius;
	&__image{
		width: 150px;
		height: 90px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;

		}
	}
	&__actions{
		display: flex;
		align-items: center;
	}
	&__action{
		width: 36px;
		cursor: pointer;
		margin-left: 14px;
		svg{
			width: 100%;
			height: 100%;
			stroke: $primary;
		}
	}
	&__count{
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
		background-color: $primary;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		margin-left: 14px;

	}
	&:last-child{
		margin-bottom: 0;
	}

}

.make-order{
	&__card{
		border-radius: $b-radius;
		background-color: #fff;
		padding: 24px;
		color: $black;
	}
	&__title{
		margin-bottom: 16px;
	}
	&__item{
		margin-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

@media only screen and (max-width: 1199px){
	.example{

	}

}


@media only screen and (max-width: 991px){
	.example{

	}
}

	
@media only screen and (max-width: 767px){
	.example{

	}
}


@media only screen and (max-width: 575px){
	.example{

	}
}
