@import "example";
@import "home";
@import "articles";
@import "article-page";
@import "auth";
@import "product-list";


.content{
  margin-top: 60px;
  color: white;
  overflow: hidden;
}


@media only screen and (max-width: 767px) {
  .content {
    margin-top: 20px;

  }
}